<!DOCTYPE html>
<html>
  	<head>
  		<title>{{site.title}} &mdash; {{site.description}}</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<link rel="stylesheet" href="/css/index.css" />
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

      <header id="header">
        <div class="inner">
          <h1><strong><a href="{% post_url 2016-09-05-about %}">{{site.title}}</a></strong> is a new way of looking at photos.</h1>
          <h1>{{site.description}}</h1>

          <hr />

          <h1><a href="{{site.baseurl}}/blog">Blog</a></h1>
        </div>

         <!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.linkedin_username %}
              <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.google_plus_username %}
              <li>
                <a href="https://plus.google.com/{{ site.google_plus_username }}" class="icon fa-google-plus">
                  <span class="label">Google+</span>
                </a>
              </li>
              {% endif %}

              {% if site.facebook_username %}
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              {% endif %}

              {% if site.dribbble_username %}
              <li>
                <a href="#" class="icon fa-dribbble">
                  <span class="label">Dribbble</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
            <ul class="copyright">
                <li>All ideas, source code, and results are free to use and re-use for any purpose without restriction. No warranty implied. Vignette is a project of <a href="http://subject.space">Logan Williams</a>.</li>
            </ul>
          </div>
        </footer>
      </header>


      <script src="/js/jquery.min.js"></script>
      <script src="/js/jquery.poptrox.min.js"></script>
      <script src="/js/skel.min.js"></script>
      <script src="/js/util.js"></script>
       <script src="/js/main.js"></script>

	</body>
</html>